{% extends "layout.html" %}

{% block main %}
  <form
    id="entry-form"
    hx-post="api/submit_random"
    hx-ext="json-enc"
    hx-swap="none"
  >
    <input name="random_number" type="number" />
    <button type="submit">Send random number</button>
  </form>

  <p><code>curl {{ host }}/api/get_random</code> for a random number.</p>

  <div id="waitlist" hx-ext="ws" ws-connect="/ws">
    {% block list %}
      <div id="list" hx-swap-oob="outerHTML">
        <p>
          {% if pending_requests.is_empty() %}
            Nobody needs a number right now!
          {% else %}
            Clients waiting for a number:
          {% endif %}
        </p>

        {% for client in pending_requests %}
          <li>{{ client }}</li>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
