<!doctype html>
<title>Crowdsourced Random Number</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/static/style.css" />

<script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js"></script>
<script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script>
<script src="https://unpkg.com/htmx-ext-json-enc@2.0.1/json-enc.js"></script>

<main>
  <form
    id="entry-form"
    hx-post="api/submit_random"
    hx-ext="json-enc"
    hx-swap="none"
  >
    <input
      name="random_number"
      type="number"
      onkeypress="return /[0-9]/i.test(event.key)"
      pattern="[0-9]"
      min="-9223372036854775808"
      max="9223372036854775807"
    />
    <button type="submit">Send random number</button>
  </form>

  <div hx-ext="ws" ws-connect="/ws">
    {% block list %}
      <div id="list" hx-swap-oob="outerHTML">
        {% for client in pending_requests %}
          <li>{{ client }}</li>
        {% endfor %}
      </div>
    {% endblock %}
  </div>
</main>
